//? ==============  var-02. map ==============
// * ================= fonts ===================
$fonts: (
    main-family: "Poppins",
    // second-family: "Playfair Display",
    // third-family: "PT Serif",
);
// * ================= colors ==================
$colors: (
	dark: #000000,
	gray-first: #939393,
	gray-second: #546269,
	light: #ffffff,
	title-first: #263238,
	title-second: #2a3246,
	text: #8f95a5,
	background-card: #f5f5f5,
	background-price: #eee,
	border-contacts: #c4c4c4, 
	//? My color
	background-image: #e2e2e2,
	hover: rgba(0, 0, 0, 0.1),
	background-backdrop: rgba(7, 35, 49, 0.7),
	button-svg: #39515E,
	button-svg-hover: #39526080,
	button-svg-stroke: #0f3246,
);
//? _______________________________________________



//? ======== var-03. function ========
// * ================= fonts ===================
@function getFont($font) {
    @return map-get($fonts, $font);
}
// * ================= colors ==================
@function getColor($color) {
    @return map-get($colors, $color);
}
//? _______________________________________________



//? == Cписок, або масив значень (icons) ==
$icons: "premium-quality", "indelible-paint", "fast-shipping";
//? ______________________________________________

//? == Cписок, або масив значень (images) ==
$images-benefits: "shoelace", "lining", "logo", "mesh", "sole";
//? ______________________________________________