.header {
    // height: 101px; //? для перевірки
    padding-top: 36px;
    padding-bottom: 29px;
    background-color: #ffff54;

    .container {
        // height: 100%; //? для перевірки
        padding: 0 15px;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);

        .navigation {
            @include flex_JCsb-AIcen;
            // ! міксін outline
            // @include outline($size: 2px, $type: dashed, $color: red);

            // ? Moved to scss/components
            // .logo {
            //     // font-family: getFont("main-family");
            //     // font-weight: 400;
            //     font-size: 24px;
            //     // line-height: 1.5;
            //     color: getColor("dark");
                
            //     &__light {
            //         color: getColor("gray-first");
            //     }
            // }

            //? Кнопка Бургер-меню_(open)
            .button-menu-toggle {
                @include buttons-menu-toggle;
                
                //! Медіа-запити
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    //? Приховуємо кнопку Бургер-меню
                    display: none;
                }
                
                // &:focus,
                // &:hover {
                //     color: getColor('hover');
                // }
            }
        }
    }
}


