.hero {
    // height: 616px; //? для перевірки
    padding-bottom: 51px;
    background-color: #ccffaf;
    // background-image: url(../images/learning-languages-bro-1.png);
    background-image: url(../images/02_hero_background-sm.svg);
        background-repeat: no-repeat;
        background-position: center top 0;
        background-size: 299px 299px;

    .container {
        // height: 100%; //? для перевірки
        padding-top: 315px;
        padding-left: 11px;
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
        
        .hero__title {
            margin-bottom: 20px;
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 24px;
            // // line-height: 1.5;
            // // text-align: center;
            // color: getColor('dark');
            //? ____________ Replaced by mixin ____________
            @include title(24px);
        }
        
        .hero__text {
            padding-bottom: 35px;
            // font-family: getFont("main-family");
            // font-weight: 400;
            // font-size: 14px;
            // line-height: 1.5;
            // text-align: center;
            // color: getColor("text");
        }

        .hero__button {
            @include button(289px, 60px);
            // font-family: getFont("main-family");
            font-weight: 500;
            font-size: 18px;
            // color: getColor("light");
        }
    }
}

