//  ❗️ ❗️ ❗️
//! Стилізація цієї секції зроблена зі зміною властивостей 
//! деяких елементів та відрізняється від макета.
.skills {
    // height: 2244px; //? так в макеті - sm
    // height: 2337px; //? MY- для перевірки - sm
    padding-bottom: 50px;
    background-color: rgb(255, 210, 193);
    // background-color: inherit;
    
    //! Медіа-запити
    //* Від 575px
    @media screen and (min-width: getBreakPoint('md')) {
        // height: 1300px; //? для перевірки - md
        // height: 1276px; //? MY- для перевірки - md
        padding-bottom: 84px;
    }
    
    //* Від 767px
    @media screen and (min-width: getBreakPoint('lg')) {
        // height: 830px; //? для перевірки - lg
        padding-bottom: 52px;
    }
    
    //* Від 992px
    @media screen and (min-width: getBreakPoint('xl')) {
        // height: 934px; //? для перевірки - xl
        padding-bottom: 106px;
    }
    
    //* Від 1600px
    @media screen and (min-width: getBreakPoint('xxl')) {
        // height: 1322px; //? для перевірки - xxl
        padding-bottom: 252px;
    }

    .container {
        height: 100%; //? для перевірки
        // text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
    }

    &__title {
        margin-bottom: 32px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        text-align: center;
    
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            margin-bottom: 34px;
            @include title(30px, 2.67);
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            margin-bottom: 36px;
            // @include title(30px, 2.67);
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            margin-bottom: 52px;
            @include title(36px, 2.22);
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            margin-bottom: 96px;
            @include title(48px, 1.67);
        }
    }

    &-list {
        // @include outline($type: solid, $color: black);
    
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            //! var.1 - Flexbox
            // display: flex;
            // flex-wrap: wrap;
            
            column-gap: 30px;
            row-gap: 34px;
            
            //! var.2 - CSS Grid
            display: grid;
            //* Встановлюємо колонки контейнера
            //? 2 (дві) колонки з однаковою шириною
            grid-template-columns: repeat(2, 1fr);
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            // height: 662px; //? для перевірки - lg
            display: grid;
            // gap: 10px;
            gap: 9px;
            
            // * Встановлюємо сітку контейнера
            // ? 3 (три) колонки з однаковою шириною
            grid-template-columns: repeat(3, 1fr);
            // todo 3 (три) рядки з однаковою висотою 214px
            // grid-template-rows: repeat(3, 214px); //! var.1
            // todo 3 (три) рядки: з них 2 (два) рядки з однаковою висотою, а третій = 210px
            grid-template-rows: repeat(2, 1fr) 210px; //! var.2
            
            // * Робимо розмітку сітки контейнера
            grid-template-areas:
                'first second third'
                'first second third'
                'first fourth fourth'
            ;
            // 1-first
            // 2-second
            // 3-third
            // 4-fourth
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            // height: 696px; //? для перевірки - xl
            // gap: 13px;
            gap: 12px;
            // todo 3 (три) рядки з однаковою висотою 224px
            // grid-template-rows: repeat(3, 224px); //! var.1
            // todo 3 (три) рядки: з них 2 (два) рядки з однаковою висотою, а третій = 241px
            grid-template-rows: repeat(2, 1fr) 241px; //! var.2
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            // height: 894px; //? для перевірки - xxl
            column-gap: 18px;
            row-gap: 20px;
            // row-gap: 21px;
            // todo 3 (три) рядки з однаковою висотою 284px
            // grid-template-rows: repeat(3, 284px); //! var.1
            // todo 3 (три) рядки: з них 2 (два) рядки з однаковою висотою, а третій = 343px
            grid-template-rows: repeat(2, 1fr) 343px; //! var.2
        }
    
        //? Додатковий Контейнер до Картки №4 (fourth),(nth-child(4)) для для стилізації, що відрізняється
        &__сontents-container {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    
        &__item {
            // padding-top: 16px;
            // padding-right: 16px;
            // padding-bottom: 45px;
            // padding-left: 13px;
            padding: 16px 16px 45px 13px;
            border-radius: 5px;
            background-color: getColor('background-card');
            // @include outline($type: dotted, $color: #1100ff);
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                // width: 240px;
                // height: 534px; //? для перевірки - md
                padding: 15px 15px 36px 12px;
                display: flex;
                flex-direction: column;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                // width: auto;
                // height: 534px;
                padding: 16px 16px 16px 13px;
                border-radius: 10px;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                // width: 240px;
                // height: 534px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                // width: 240px;
                // height: 534px;
                padding: 18px 18px 30px 15px;
            }
        
            //? Додаткові властивості до деяких з карток
            &:not(:last-child) {
                margin-bottom: 21px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 0px;
                }
            }
        
            //? ЗОБРАЖЕННЯ карток
            &::before,
            &::after {
                content: '';
                display: block;
                height: 213px;
                margin-bottom: 10px;
                margin-left: 3px; //? так в макеті
                border-radius: 5px; //? ТИМЧАСОВО, для background-color
                // background-size: auto auto; //? ТИМЧАСОВО
                background-repeat: no-repeat;
                background-position: center;
                background-color: getColor('background-image'); //? ТИМЧАСОВО
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    height: 185px;
                    margin-bottom: -15px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    // height: 214px;
                    height: 191px; //? так краще виглядає
                    margin-bottom: 12px;
                    border-radius: 10px; //? ТИМЧАСОВО, для background-color
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    height: 260px;
                    margin-bottom: 15px;
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    height: 390px;
                    margin-bottom: 20px;
                }
            }
        
            //? Це Зображення з'явиться потім, тільки на nth-child(4) і тільки Від 767px
            &::after {
                display: none;
            }
        
            &:nth-child(1)::before {
                background-image: url(../images/03_1-1_skills_speaking-sm.svg);
                // background-size: 213px 213px; //? ТИМЧАСОВО, для візуалізації розмірів
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    // height: 185px;
                    background-image: url(../images/03_2-1_skills_speaking-md.svg);
                    // background-size: 185px 185px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    // height: 214px;
                    // margin-bottom: 0;
                    background-image: url(../images/03_3-1_skills_speaking-lg.svg);
                    // background-size: 214px 214px; //? ТИМЧАСОВО, для візуалізації розмірів
                    background-size: contain; //? так краще виглядає
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    // height: 260px;
                    background-image: url(../images/03_4-1_skills_speaking-xl.svg);
                    // background-size: 260px 260px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    // height: 390px;
                    background-image: url(../images/03_5-1_skills_speaking-xxl.svg);
                    // background-size: 390px 390px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            &:nth-child(2)::before {
                background-image: url(../images/03_1-2_skills_writing-sm.svg);
                // background-size: 204px 204px; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-size: 213px 213px; //? для збільшення розмірів
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    // height: 182px;
                    background-image: url(../images/03_2-2_skills_writing-md.svg);
                    // background-size: 182px 182px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    // height: 200px;
                    // margin-bottom: 0;
                    background-image: url(../images/03_3-2_skills_writing-lg.svg);
                    // background-size: 200px 200px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    // height: 205px;
                    background-image: url(../images/03_4-2_skills_writing-xl.svg);
                    // background-size: 205px 205px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    // height: 293px;
                    background-image: url(../images/03_5-2_skills_writing-xxl.svg);
                    // background-size: 293px 293px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            &:nth-child(3)::before {
                background-image: url(../images/03_1-3_skills_reading-sm.svg);
                // background-size: 236px 157px; //? ТИМЧАСОВО, для візуалізації розмірів
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    // height: 132px;
                    background-image: url(../images/03_2-3_skills_reading-md.svg);
                    // background-size: 198px 132px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    // height: 144px;
                    // margin-bottom: 0;
                    background-image: url(../images/03_3-3_skills_reading-lg.svg);
                    // background-size: 216px 144px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    // height: 162px;
                    // margin-bottom: 3px;
                    background-image: url(../images/03_4-3_skills_reading-xl.svg);
                    // background-size: 243px 162px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    // height: 247px;
                    // margin-bottom: 0;
                    background-image: url(../images/03_5-3_skills_reading-xxl.svg);
                    // background-size: 371px 247px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            &:nth-child(4)::before {
                background-image: url(../images/03_1-4_skills_listening-sm.svg);
                // background-size: 232px 154px; //? ТИМЧАСОВО, для візуалізації розмірів
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    // height: 137px;
                    background-image: url(../images/03_2-4_skills_listening-md.svg);
                    // background-size: 206px 137px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    display: none;
                }
            }
        
            //? Це Зображення з'являється тільки на nth-child(4) і тільки Від 767px
            &:nth-child(4)::after {
                //! Медіа-запити
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    display: block;
                    // height: 134px;
                    // height: 178px;
                    // margin-top: 14px; 
                    height: calc(100% - 16px); //? так краще виглядає
                    margin-top: 0; //? так краще виглядає
                    margin-bottom: 0;
                    margin-left: 0;
                    align-self: end;
                    background-image: url(../images/03_3-4_skills_listening-lg.svg);
                    // background-size: 202px 134px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    // height: 169px;
                    // margin-top: 0;
                    height: 100%; //? так краще виглядає
                    background-image: url(../images/03_4-4_skills_listening-xl.svg);
                    // background-size: 254px 169px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    // height: 255px;
                    // margin-top: 12px;
                    height: calc(100% - 12px); //? так краще виглядає
                    background-image: url(../images/03_5-4_skills_listening-xxl.svg);
                    // background-size: 382px 255px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            //? Задаємо розміщення кожного Елемента (картки) в сітці Від 767px
            // 1-first
            // 2-second
            // 3-third
            // 4-fourth
            &:nth-child(1) {
                //! Медіа-запити
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    grid-area: first;
                }
            }
        
            &:nth-child(2) {
                //! Медіа-запити
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    grid-area: second;
                }
            }
        
            &:nth-child(3) {
                //! Медіа-запити
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    grid-area: third;
                }
            }
        
            &:nth-child(4) {
                //! Медіа-запити
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    grid-area: fourth;
                    padding: 2px 15px 16px 15px;
                    //? Додаткові Grid-властивості для для стилізації, що відрізняється
                    display: grid;
                    gap: 0px;
                    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr)); //! var.1
                    grid-template-columns: 1fr 202px; //! var.2
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    padding: 16px;
                    gap: 25px;
                    grid-template-columns: repeat(auto-fit, minmax(254px, 1fr)); //! var.1
                    grid-template-columns: 1fr 254px; //! var.2
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    padding: 18px 18px 30px 18px;
                    gap: 102px;
                    grid-template-columns: repeat(auto-fit, minmax(373px, 1fr)); //! var.1
                    grid-template-columns: 1fr 382px; //! var.2
                }
            
                //? Додаткові властивості до ЗАГОЛОВКІВ та ТЕКСТІВ карток в nth-child(4) Від 767px
                & .skills-list__title {
                    //! Медіа-запити
                    //* Від 767px
                    @media screen and (min-width: getBreakPoint('lg')) {
                        line-height: 2.5;
                    }
                }
            
                & .skills-list__text {
                    //! Медіа-запити
                    //* Від 767px
                    @media screen and (min-width: getBreakPoint('lg')) {
                        margin-bottom: 12px;
                    }
                }
            }
        }
    
        //? ЗАГОЛОВКИ карток (загальні властивості)
        &__title {
            margin-bottom: -18px;
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 18px;
            // // line-height: 4.44;
            // // text-align: center;
            // color: getColor('title-first');
            //? ____________ Replaced by mixin ____________
            @include title(18px, 4.44);
            color: getColor('title-first');
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                margin-bottom: -4px; // -10px  -4px -9px
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                margin-bottom: 0; // -3px -6px  -6px -8px
                // @include title(20px, 4);
                @include title(20px, 2);
                // text-align: left;
                color: getColor('title-first');
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                margin-bottom: 8px; // 3px -1px  -4px -3px
                @include title(22px, 3.64);
                color: getColor('title-first');
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                margin-bottom: 24px; // 5px -9px  -14px -5px
                @include title(30px, 2.67);
                color: getColor('title-first');
            }
        }
    
        //? ТЕКСТИ карток (загальні властивості)
        &__text {
            flex-grow: 1;
            margin-left: 3px;
            // margin-left: 0px; //? for nth-child(2)
            margin-bottom: 32px;
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 13px;
            // font-size: 12px; //? for nth-child(2)
            line-height: 1.54;
            // line-height: 1.5; //? for nth-child(2)
            // text-align: center;
            // color: getColor("text");
            // ! міксін outline
            // @include outline($type: dotted, $color: blue);
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                margin-bottom: 25px;
                // font-size: 12px; //? for nth-child(1), nth-child(2)
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                margin-bottom: 24px;
                // font-size: 13px;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                // width: 100%;
                margin-bottom: 26px;
                font-size: 14px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                // width: 100%;
                margin-bottom: 36px;
                font-size: 16px;
            }
        }
    
        //? КНОПКИ карток
        &__button {
            @include button();
            // font-family: getFont("main-family");
            // font-weight: 500;
            font-size: 14px;
            // color: getColor("light");
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                @include button(200px);
                margin: 0 auto;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                @include button();
                // font-size: 16px;
                margin: 0;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                @include button(196px, 57px);
                font-size: 18px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                @include button(218px, 60px);
                font-size: 20px;
            }
        }
    }
}
