.skills {
    // height: 2244px; //? для перевірки
    background-color: rgb(255, 210, 193);
    padding-bottom: 50px;

    .container {
        height: 100%; //? для перевірки
        padding: 0 15px;
        // text-align: center;
        // ! міксін outline
        @include outline($type: dashed, $color: red);
        
        .skills__title {
            padding-bottom: 32px;
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 24px;
            // line-height: 3.33;
            // color: getColor('dark');
            //? ____________ Replaced by mixin ____________
            @include title(24px, 3.33);
            text-align: center;
        }

        .skills-list {
            // @include outline($type: solid, $color: black);
            
            &__item {
                // padding-top: 231px;
                padding-left: 13px;
                padding-bottom: 45px;
                margin-bottom: 21px; //? тимчасово
                border-radius: 5px;
                background-color: getColor("background-card");
                // background-image: url(../images/03-1_skills_speaking-sm.svg);
                background-repeat: no-repeat;
                // background-position: center top 8px;
                // background-size: 213px 213px;
                @include outline($type: dotted, $color: #1100ff);
            }
            
            &__item:nth-child(1) {
                // height: 600px; //? для перевірки
                padding-top: 231px;
                background-image: url(../images/03-1_skills_speaking-sm.svg);
                background-position: center top 8px;
                background-size: 213px 213px; //? ТИМЧАСОВО, для візуалізації розмірів
            }
            
            &__item:nth-child(2) {
                // height: 473px; //? var.-Макет для перевірки
                // height: 480px; //? var.-My для перевірки
                padding-top: 231px;
                background-image: url(../images/03-2_skills_writing-sm.svg);
                background-position: center top 16px;
                background-size: 204px 204px; //? ТИМЧАСОВО, для візуалізації розмірів
            }
            
            &__item:nth-child(3) {
                // height: 473px; //? var.-Макет для перевірки
                // height: 480px; //? var.-My для перевірки
                padding-top: 206px;
                background-image: url(../images/03-3_skills_reading-sm.svg);
                background-position: center top 29px;
                background-size: 236px 157px; //? ТИМЧАСОВО, для візуалізації розмірів
            }
            
            &__item:nth-child(4) {
                // height: 473px; //? var.-Макет для перевірки
                // height: 480px; //? var.-My для перевірки
                padding-top: 206px;
                background-image: url(../images/03-4_skills_listening-sm.svg);
                background-position: center top 33px;
                background-size: 232px 154px; //? ТИМЧАСОВО, для візуалізації розмірів
            }

            &__title {
                margin-bottom: -18px;
                @include title(18px, 4.44);
                color: getColor("title-first");
            }

            &__text {
                // margin-left: 3px;
                margin-left: 0px; //? nth-child(2)
                margin-bottom: 32px;
                // font-family: getFont("main-family");
                // font-weight: 400;
                font-size: 13px;
                // font-size: 12px; //? nth-child(2)
                line-height: 1.54;
                // line-height: 1.5; //? nth-child(2)
                // text-align: center;
                // color: getColor("text");
                @include outline($type: dotted, $color: blue);
            }

            &__button {
                @include button();
                // font-family: getFont("main-family");
                font-weight: 500;
                // font-size: 14px;
                // color: getColor("light");
            }
        }
    }
}

