.about {
    // height: 959px; //? для перевірки - sm
    padding-bottom: 84px;
    background-color: #e8ebff;
    
    //! Медіа-запити
    //* Від 575px
    @media screen and (min-width: getBreakPoint('md')) {
        // height: 819px; //? для перевірки - md
        padding-bottom: 128px;
    }
    
    //* Від 767px
    @media screen and (min-width: getBreakPoint('lg')) {
        // height: 424px; //? для перевірки - lg
        padding-bottom: 84px;
    }
    
    //* Від 992px
    @media screen and (min-width: getBreakPoint('xl')) {
        // height: 466px; //? для перевірки - xl
        // padding-bottom: 101px; //? до зображення
        padding-bottom: 125px; //? до сontents-container
    }
    
    //* Від 1600px
    @media screen and (min-width: getBreakPoint('xxl')) {
        // height: 688px; //? для перевірки - xxl
        // padding-bottom: 188px; //? до зображення
        padding-bottom: 227px; //? до сontents-container
    }

    .container {
        // height: 100%; //? для перевірки
        // padding-right: 34px; //? так в макеті, для перевірки
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
    }

    //? Додатковий контейнер для всього контенту (крім зображення)
    &__сontents-container {
        // height: 100%; //? для перевірки
        // ! міксін outline
        // @include outline($type: dashed, $color: darkgrey);
        
        //! Медіа-запити
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            position: relative;
            width: 324px;
            text-align: left;
            
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 295px;
                height: 295px;
                top: 36px;
                // left: calc(324px + 75px); //? 399px
                left: calc(100% + 75px); //? 399px
                // border-radius: 5px; //? ТИМЧАСОВО, для background-color
                background-image: url(../images/04_3_about_background-lg.svg);
                // background-size: auto auto; //? ТИМЧАСОВО
                // background-size: 295px 295px; //? ТИМЧАСОВО, для візуалізації розмірів
                background-repeat: no-repeat;
                // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
                
                //! Медіа-запити
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    width: 336px;
                    height: 336px;
                    top: 29px;
                    // left: calc(525px + 78px); //? 603px
                    left: calc(100% + 78px); //? 603px
                    background-image: url(../images/04_4_about_background-xl.svg);
                    // background-size: 336px 336px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    width: 500px;
                    height: 500px;
                    top: 0;
                    // left: calc(635px + 194px); //? 829px
                    left: calc(100% + 194px); //? 829px
                    background-image: url(../images/04_5_about_background-xxl.svg);
                    // background-size: 500px 500px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            width: 525px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 635px;
            padding-top: 30px;
        }
    }

    &__title {
        margin-bottom: 23px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        // text-align: center;
        
        &::after {
            content: "";
            display: block;
            height: 283px;
            // width: 283px; //? ТИМЧАСОВО, для background-color
            // margin: 0 auto; //? ТИМЧАСОВО, для background-color
            margin-top: 24px;
            // margin-right: 15px; //? ТИМЧАСОВО, для background-color
            // margin-left: 15px; //? ТИМЧАСОВО, для background-color
            // border-radius: 10px; //? ТИМЧАСОВО, для background-color
            background-image: url(../images/04_1_about_background-sm.svg);
            // background-size: auto auto; //? ТИМЧАСОВО
            // background-size: 283px 283px; //? ТИМЧАСОВО, для візуалізації розмірів
            background-repeat: no-repeat;
            background-position: center;
            // background-color:getColor("background-image"); //? ТИМЧАСОВО
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                height: 352px;
                // width: 382px; //? ТИМЧАСОВО, для background-color
                // margin: 0 auto; //? ТИМЧАСОВО, для background-color
                // margin-top: 23px; //? так в макеті
                margin-top: 24px;
                // border-radius: 10px; //? ТИМЧАСОВО, для background-color
                background-image: url(../images/04_2_about_background-md.svg);
                // background-size: 352px 352px; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                display: none;
            }
        }
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            margin-bottom: 25px;
            @include title(30px, 2.67);
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            margin-bottom: -1px;
            // @include title(30px, 2.67);
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            margin-bottom: 13px;
            @include title(36px, 2.22);
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            margin-bottom: 23px;
            @include title(48px, 1.67);
        }
    }

    &__text {
        width: 295px;
        // margin-bottom: 30px;
        margin: 0 auto 30px;
        // font-family: getFont("main-family");
        // font-weight: 400;
        font-size: 13px;
        line-height: 1.54;
        // text-align: center;
        // color: getColor("text");
        // ! міксін outline
        // @include outline($type: dotted, $color: blue);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            // width: 510px; //? так в макеті
            width: 496px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 1.5;
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            width: 321px;
            // text-align: left;
            margin-bottom: 28px;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            // width: 525px;
            width: 100%;
            font-size: 16px;
            margin-bottom: 25px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            // width: 635px;
            width: 100%;
            font-size: 20px;
            margin-bottom: 36px;
        }
    }

    //? Додаткові налаштування для вірнрго розташування тексту в усіх breakpoints
    &__break-sm {
        //! Медіа-запит
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            display: none;
        }
    }
    &__break-xl {
        display: none;
        //! Медіа-запит
        //* Від 992px до 1599px
        @media screen and (min-width: getBreakPoint('xl')) {
            display: inline;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            display: none;
        }
    }

    &-list {
        // ! міксін outline
        // @include outline($type: dashed, $color: darkgrey);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            display: flex;
            justify-content: center;
            gap: 76px;
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            justify-content: space-between;
            gap: initial;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            // gap: 76px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            // gap: 76px;
        }

        &__item {
            // background-color: bisque;
            // ! міксін outline
            // @include outline($type: dashed, $color: black);
            
            &:not(:last-child) {
                margin-bottom: 46px;
                
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 0;
                }
            }
            
            &:first-child {
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-right: 29px;
                }
            }
            
            //! Медіа-запити
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                text-align: center;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                
            }
        }

        &__quantity {
            margin-bottom: 5px;
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 24px;
            // line-height: 3.33;
            // color: getColor('dark');
            //? ____________ Replaced by mixin ____________
            @include title(24px);
            color: getColor('title-second');
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                margin-bottom: 8px;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                margin-bottom: 12px;
                @include title(22px);
                color: getColor('title-second');
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                margin-bottom: 10px;
                @include title(30px);
                color: getColor('title-second');
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                // margin-bottom: 10px;
                @include title(48px);
                color: getColor('title-second');
            }
        }

        &__description {
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 13px;
            line-height: 1.54;
            // text-align: center;
            // color: getColor("text");
            // ! міксін outline
            // @include outline($type: dotted, $color: blue);
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                font-size: 14px;
                line-height: 1.5;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                font-size: 13px;
                line-height: 1.54;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                font-size: 16px;
                line-height: 1.5;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                font-size: 20px;
            }
        }
    }
}
