.about {
    // height: 959px; //? для перевірки
    background-color: #e8ebff;
    padding-bottom: 84px;

    .container {
        // height: 100%; //? для перевірки
        padding: 0;
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
    }

    &__title {
        margin-bottom: 23px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        // text-align: center;
    }
    
    &__title::after {
        content: "";
        display: block;
        height: 283px;
        margin-top: 24px;
        margin-right: 15px;
        margin-left: 15px;
        border-radius: 5px;
        background-image: url(../images/04_1_about_background-sm.svg);
        // background-size: auto auto; //? ТИМЧАСОВО
        // background-size: 283px 283px; //? ТИМЧАСОВО, для візуалізації розмірів
        background-repeat: no-repeat;
        background-position: center;
        // background-color:getColor("background-image"); //? ТИМЧАСОВО
    }

    &__text {
        width: 295px;
        // margin-bottom: 30px;
        margin: 0 auto 30px;
        // font-family: getFont("main-family");
        // font-weight: 400;
        font-size: 13px;
        line-height: 1.54;
        // text-align: center;
        // color: getColor("text");
        // @include outline($type: dotted, $color: blue);

        //! Медіа-запит
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            width: 510px; 
            width: 496px;
            font-size: 14px;
            line-height: 1.5;
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            width: 321px;
            text-align: left;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            width: 525px;
            font-size: 16px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 510px; 
        }
        
    }

    &__space-sm {
        //! Медіа-запит
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            display: none;
        }
    }
    &__space-xl {
        display: none;
        //! Медіа-запит
        //* Від 992px до 1599px
        @media screen and (min-width: getBreakPoint('xl')) {
            display: inline;
        }
    }

    &-list {
        // @include outline($type: dashed, $color: darkgrey);
        
        // &__item {
        //     background-color: bisque;
        //     @include outline($type: dashed, $color: black);
        // }
        
        &__item:not(:last-child) {
            margin-bottom: 46px;
        }
        
        &__quantity {
            margin-bottom: 5px;
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 24px;
            // line-height: 3.33;
            // color: getColor('dark');
            //? ____________ Replaced by mixin ____________
            @include title(24px);
            color: getColor('title-second');
        }
        
        &__description {
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 13px;
            line-height: 1.54;
            // text-align: center;
            // color: getColor("text");
            // @include outline($type: dotted, $color: blue);
        }
    }
}