.pricing {
    height: 1578px; //? для перевірки
    background-color: #efffc3;
    padding-bottom: 72px;

    .container {
        height: 100%; //? для перевірки
        padding: 0 15px;
        text-align: center;
        // ! міксін outline
        @include outline($type: dashed, $color: red);
    }

    &__title {
        margin-bottom: 49px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        // text-align: center;
    }

    &-list {
        // @include outline($type: dotted, $color: black);

        &__item {
            // height: 451x; //? first item
            // height: 353px; //? second item
            // height: 403px; //? third item
            background-color: bisque;
            @include outline($type: dashed, $color: darkgrey);
        }
        
        &__item:nth-child(1) {
            height: 451px; //? для перевірки
            margin-bottom: 63px;
        }
        
        &__item:nth-child(2) {
            height: 353px; //? для перевірки
            margin-bottom: 72px; 
        }
        
        &__item:nth-child(3) {
            height: 403px; //? для перевірки
        }
        
        &__item::before {
            content: "";
            display: block;
            height: 248px;
            // margin-bottom: 28px; //? first image
            // margin-bottom: 12px; //? second image
            // margin-bottom: 7px; //? third image
            // margin-left: 3px;
            border-radius: 5px;
            background-size: auto auto; //? ТИМЧАСОВО
            background-repeat: no-repeat;
            background-position: center;
            background-color:getColor("background-image"); //? ТИМЧАСОВО
        }
        
        &__item:nth-child(1)::before {
            margin-bottom: 28px;
            background-image: url(../images/05-1_pricing-sm.svg);
            // background-image: url(../images/05-1_pricing-md.svg); //? ТИМЧАСОВО, для візуалізації різниці
            // background-size: 248px 248px; //? ТИМЧАСОВО, для візуалізації розмірів
        }
        
        &__item:nth-child(2)::before {
            margin-bottom: 12px;
            background-image: url(../images/05-2_pricing-sm.svg);
            // background-size: 257px 197px; //? ТИМЧАСОВО, для візуалізації розмірів
            // background-size: 213px 213px; //? для збільшення розмірів
        }
        
        &__item:nth-child(3)::before {
            margin-bottom: 7px;
            background-image: url(../images/05-2_pricing-sm.svg);
            // background-size: 241px 241px; //? ТИМЧАСОВО, для візуалізації розмірів
        }

        &__item:nth-child(1) &__title  {
            margin-bottom: 17px;
        }
        
        &__item:nth-child(2) &__title  {
            margin-bottom: 25px;
        }
        
        &__item:nth-child(3) &__title  {
            margin-bottom: 30px;
        }

        &__item:nth-child(1) &__text  {
            margin-bottom: 33px;
        }
        
        &__item:nth-child(2) &__text  {
            margin-bottom: 31px;
        }
        
        &__item:nth-child(3) &__text  {
            margin-bottom: 38px;
        }

        &__title {
            // margin-bottom: 17px; //? first title
            // margin-bottom: 25px; //? second title
            // margin-bottom: 30px; //? third title
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 18px;
            // line-height: 1.56;
            // color: getColor("title-first");
            //? ____________ Replaced by mixin ____________
            @include title(18px, 1.56);
            color: getColor("title-first");
        }

        &__text {
            // margin-bottom: 33px; //? first title
            // margin-bottom: 31px; //? second title
            // margin-bottom: 38px; //? third title
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 13px;
            line-height: 1.54;
            // text-align: center;
            // color: getColor("text");
            // @include outline($type: dotted, $color: blue);
        }


    }
}