.pricing {
    // height: 1578px; //? для перевірки - sm
    background-color: #efffc3;
    padding-bottom: 72px;
    
    //! Медіа-запити
    //* Від 575px
    @media screen and (min-width: getBreakPoint('md')) {
        // height: 1790px; //? для перевірки - md
        padding-bottom: 162px;
    }
    
    //* Від 767px
    @media screen and (min-width: getBreakPoint('lg')) {
        // height: 619px; //? для перевірки - lg
        padding-bottom: 65px;
    }
    
    //* Від 992px
    @media screen and (min-width: getBreakPoint('xl')) {
        height: 675px; //? для перевірки - xl
        padding-bottom: 135px;
    }
    
    //* Від 1600px
    @media screen and (min-width: getBreakPoint('xxl')) {
        // height: 980px; //? для перевірки - xxl
        padding-bottom: 260px;
    }

    .container {
        // height: 100%; //? для перевірки
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
    
        //! Медіа-запити
        //todo До 574px
    }

    &__title {
        margin-bottom: 49px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        // text-align: center;
    
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            margin-bottom: 54px;
            @include title(30px, 2.67);
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            margin-bottom: 26px;
            // @include title(30px, 2.67);
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            margin-bottom: 10px;
            @include title(36px, 2.22);
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            margin-bottom: 57px;
            @include title(48px, 1.67);
        }
    }

    &-list {
        // ! міксін outline
        // @include outline($type: dotted, $color: black);
    
        //! Медіа-запити
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            display: flex;
            justify-content: space-between;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            // justify-content: space-between;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            // justify-content: space-between;
        }
    
        &__item {
            // width: 100%;
            // background-color: bisque;
            // ! міксін outline
            @include outline($type: dashed, $color: darkgrey);
        
            //! Медіа-запити
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                width: 220px; 
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                width: 267px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                width: 391px; 
            }
        
            &:nth-child(1) {
                // height: 451px; //? для перевірки - sm
                margin-bottom: 63px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    // height: 489px; //? для перевірки - md
                    margin-bottom: 71px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    margin-bottom: 0;
                }
            }
            
            &:nth-child(2) {
                // height: 370px; //? для перевірки - sm
                margin-bottom: 72px;
                
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 71px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    margin-bottom: 0;
                }
            } 
            
            // &__item:nth-child(3) {
            //     height: 421px; //? для перевірки - sm
            // }
        
            &::before {
                content: "";
                display: block;
                // border-radius: 5px; //? ТИМЧАСОВО, для background-color
                // background-size: auto auto; //? ТИМЧАСОВО
                background-repeat: no-repeat;
                background-position: center;
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            }
        
            &:nth-child(1)::before {
                height: 248px;
                margin-bottom: 28px;
                background-image: url(../images/05_1-1_pricing-sm.svg);
                // background-size: 248px 248px; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    height: 291px;
                    margin-bottom: 29px;
                    background-image: url(../images/05_2-1_pricing-md.svg);
                    // background-size: 291px 291px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    height: 197px;
                    margin-top: 5px;
                    margin-bottom: 23px;
                    background-image: url(../images/05_3-1_pricing-lg.svg);
                    // background-size: 197px 197px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    height: 222px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_4-1_pricing-xl.svg);
                    // background-size: 222px 222px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    height: 311px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_5-1_pricing-xxl.svg);
                    // background-size: 311px 311px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            &:nth-child(2)::before {
                height: 197px;
                margin-bottom: 12px;
                background-image: url(../images/05_1-2_pricing-sm.svg);
                // background-size: 257px 197px; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    height: 241px;
                    margin-bottom: 21px;
                    background-image: url(../images/05_2-2_pricing-md.svg);
                    // background-size: 314px 241px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    height: 168px;
                    margin-top: 35px;
                    margin-bottom: 22px;
                    background-image: url(../images/05_3-2_pricing-lg.svg);
                    // background-size: 219px 168px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    height: 195px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_4-2_pricing-xl.svg);
                    // background-size: 267px 195px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    height: 283px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_5-2_pricing-xxl.svg);
                    // background-size: 391px 283px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            &:nth-child(3)::before {
                height: 241px;
                margin-bottom: 7px;
                background-image: url(../images/05_1-3_pricing-sm.svg);
                // background-size: 241px 241px; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    height: 253px;
                    margin-bottom: 15px;
                    background-image: url(../images/05_2-3_pricing-md.svg);
                    // background-size: 253px 253px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    height: 210px;
                    margin-top: 0;
                    margin-bottom: 15px;
                    background-image: url(../images/05_3-3_pricing-lg.svg);
                    // background-size: 210px 210px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    height: 242px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_4-3_pricing-xl.svg);
                    // background-size: 242px 242px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    height: 340px;
                    // margin-bottom: 28px;
                    background-image: url(../images/05_5-3_pricing-xxl.svg);
                    // background-size: 340px 340px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        
            //? pricing-list__title
            &:nth-child(1) .pricing-list__title  {
                margin-bottom: 17px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 23px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    margin-bottom: 15px;
                }
            }
            
            &:nth-child(2) .pricing-list__title  {
                margin-bottom: 25px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 19px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    width: 112px;
                    margin-bottom: 15px;
                }
            }
            
            &:nth-child(3) .pricing-list__title  {
                margin-bottom: 30px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 21px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    width: 94px;
                    margin-bottom: 15px;
                }
            }
        
            //? pricing-list__text
            &:nth-child(1) .pricing-list__text  {
                margin-bottom: 33px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 31px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    width: 196px;
                    margin-bottom: 23px;
                }
            }
            
            &:nth-child(2) .pricing-list__text  {
                margin-bottom: 31px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    width: 329px; //? для правильного форматування тексту
                    // margin-bottom: 31px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    width: 100%;
                    margin-bottom: 23px;
                }
            }
            
            &:nth-child(3) .pricing-list__text  {
                margin-bottom: 38px;
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin-bottom: 31px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    width: 101%;
                    margin-bottom: 23px;
                }
            }
        }
    
        &__title {
            //? ++++++++++++ Replaced by mixin ++++++++++++
            // // font-family: getFont("main-family");
            // font-weight: 600;
            // font-size: 18px;
            // line-height: 1.56;
            // color: getColor("title-first");
            //? ____________ Replaced by mixin ____________
            @include title(18px, 1.56);
            color: getColor("title-first");
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                @include title(24px, 1.17);
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                margin-bottom: 15px;
                @include title(20px, 1.40);
                text-align: left;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                margin-bottom: 9px;
                @include title(22px, 2.18);
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                margin-bottom: 20px;
                @include title(30px, 1.6);
            }
        }
    
        &__text {
            width: 290px; //? для правильного форматування тексту
            margin-right: auto;
            margin-left: auto;
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 13px;
            line-height: 1.54;
            // text-align: center;
            // color: getColor("text");
            // ! міксін outline
            // @include outline($type: dotted, $color: blue);
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                width: 393px; //? для правильного форматування тексту
                // margin-bottom: 31px; //! так не працює
                font-size: 14px;
                line-height: 1.5;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                width: 100%;
                height: 84px;
                margin-left: 0;
                margin-right: 0;
                // margin-bottom: 31px;
                text-align: left;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                // width: 100%;
                // margin-bottom: 31px;
                font-size: 16px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                // width: 100%;
                // margin-bottom: 31px;
                font-size: 20px;
            }
        }
    
        &__price {
            width: 170px;
            height: 37px;
            margin-right: auto;
            margin-left: auto;
            // padding: 5px 15px 5px 12px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // font-family: getFont("main-family");
            // font-weight: 400;
            font-size: 18px;
            border-radius: 5px;
            color: getColor("title-first");
            background-color: getColor("background-price");
        
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                width: 205px;
                height: 45px;
                font-size: 24px;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                // width: 205px;
                // height: 45px;
                margin-right: 0;
                margin-left: 0;
                // flex-grow: 1; //! не працює
                font-size: 22px;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                // width: 205px;
                // height: 45px;
                font-size: 24px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                width: 240px;
                // height: 45px; //? так в макеті
                height: 55px;
                font-size: 30px;
            }
        
            .pricing-list__time-period {
                font-size: 14px; 
                color: getColor("gray-second");
                // ! міксін outline
                // @include outline($type: dotted, $color: blue);
            
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    font-size: 16px;
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    font-size: 18px;
                }
            }
        }
    }
}