.contacts {
    // height: 684px; //? для перевірки - sm
    // padding-bottom: 57px; //! відсутні, задані у сontents-container
    background-color: #afffba;
    // background-color: inherit;
    
    //! Медіа-запити
    //* Від 575px
    @media screen and (min-width: getBreakPoint('md')) {
        // height: 856px; //? для перевірки - md
    }
    
    //* Від 767px
    @media screen and (min-width: getBreakPoint('lg')) {
        // height: 352px; //? для перевірки - lg
    }
    
    //* Від 992px
    @media screen and (min-width: getBreakPoint('xl')) {
        // height: 444px; //? для перевірки - xl
    }
    
    //* Від 1600px
    @media screen and (min-width: getBreakPoint('xxl')) {
        // height: 563px; //? для перевірки - xxl
    }

    .container {
        // height: 100%; //? для перевірки
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
        
        //? Нижня лінія – межа секції
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            // background-color: red; //? ТИМЧАСОВО
            background-color:getColor("border-contacts");
        }
    }

    //? Додатковий контейнер для всього контенту (крім зображення)
    &__сontents-container {
        // height: 100%; //? для перевірки
        margin-bottom: 57px;
        // ! міксін outline
        // @include outline($type: dashed, $color: darkgrey);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            margin-bottom: 144px;
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            position: relative;
            width: 434px;
            margin-left: auto;
            margin-bottom: 141px;
            text-align: left;
            
            &::before {
                position: absolute;
                content: "";
                // display: block;
                width: 233px;
                height: 210px;
                top: 29px;
                right: calc(100% + 36px);
                // border-radius: 5px; //? ТИМЧАСОВО, для background-color
                background-image: url(../images/06_3_contacts_background-lg.svg);
                // background-size: auto auto; //? ТИМЧАСОВО
                // background-size: 233px 210px; //? ТИМЧАСОВО, для візуалізації розмірів
                background-repeat: no-repeat;
                // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
                
                //! Медіа-запити
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    width: 312px;
                    height: 281px;
                    top: 5px;
                    // right: calc(100% + 109px); //? так в макеті
                    right: calc(100% + 60px);
                    background-image: url(../images/06_4_contacts_background-xl.svg);
                    // background-size: 312px 281px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    width: 477px;
                    height: 429px;
                    top: 0;
                    right: calc(100% + 112px);
                    background-image: url(../images/06_5_contacts_background-xxl.svg);
                    // background-size: 477px 429px; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-position: center center; //? ТИМЧАСОВО, для візуалізації розмірів
                    // background-color:getColor("background-image"); //? ТИМЧАСОВО
                }
            }
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            width: 530px;
            margin-bottom: 194px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            width: 776px;
            margin-bottom: 220px;
            padding-top: 33px;
        }
    }

    &__title {
        margin-bottom: 38px;
        //? ++++++++++++ Replaced by mixin ++++++++++++
        // // font-family: getFont("main-family");
        // font-weight: 600;
        // font-size: 24px;
        // line-height: 3.33;
        // color: getColor('dark');
        //? ____________ Replaced by mixin ____________
        @include title(24px, 3.33);
        // text-align: center;
        
        &::after {
            content: "";
            display: block;
            height: 228px;
            // width: 253px; //? ТИМЧАСОВО, для background-color
            // margin: 0 auto; //? ТИМЧАСОВО, для background-color
            margin-top: 38px;
            // border-radius: 10px; //? ТИМЧАСОВО, для background-color
            background-image: url(../images/06_1_contacts_background-sm.svg);
            // background-size: auto auto; //? ТИМЧАСОВО
            // background-size: 253px 228px; //? ТИМЧАСОВО, для візуалізації розмірів
            background-repeat: no-repeat;
            background-position: 30px center;
            // background-color:getColor("background-image"); //? ТИМЧАСОВО
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                height: 322px;
                // width: 358px; //? ТИМЧАСОВО, для background-color
                // margin: 0 auto; //? ТИМЧАСОВО, для background-color
                margin-top: 83px;
                // border-radius: 10px; //? ТИМЧАСОВО, для background-color
                background-image: url(../images/06_2_contacts_background-md.svg);
                // background-size: auto auto; //? ТИМЧАСОВО
                // background-size: 358px 322px; //? ТИМЧАСОВО, для візуалізації розмірів
                background-position: 83px center;
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                display: none;
            }
        }
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            margin-bottom: 34px;
            @include title(30px, 2.67);
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            margin-bottom: -9px;
            // @include title(30px, 2.67);
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            margin-bottom: 3px;
            @include title(36px, 2.22);
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            margin-bottom: 37px;
            @include title(48px, 1.67);
        }
    }

    &__text {
        // width: 260px; //! не працює
        white-space: pre-line; //todo ✅var.2 - ПРАЦЮЄ в sm
        margin-bottom: 31px;
        // font-family: getFont("main-family");
        // font-weight: 400;
        font-size: 14px;
        // line-height: 1.5;
        text-align: center;
        // color: getColor("text");
        // ! міксін outline
        // @include outline($type: dotted, $color: blue);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            white-space: initial; //todo
            width: 469px;
            // margin-bottom: 60px;
            margin: 0 auto 60px;
            font-size: 16px;
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            width: 392px;
            text-align: left;
            // margin-bottom: 26px;
            // margin-left: 2px;
            margin: 0 0 26px 2px;
            font-size: 14px;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            width: 448px;
            font-size: 16px;
            margin-bottom: 34px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            width:761px;
            font-size: 20px;
            margin-bottom: 52px;
        }
    }

    &-form {
        // width: 100%;
        // margin: 0 auto; //? не обов'язково
        @include flex_FDcol;
        gap: 17px;
        // ! міксін outline
        // @include outline($type: dotted, $color: blue);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            height: 60px;
            @include flex_JCsb-AIcen;
            gap: initial;
            border: 1px solid getColor("text");
            border-radius: 10px;
            // background-color: gray; //? ТИМЧАСОВО
            background-color: getColor("light");
        }
        
        //* Від 767px
        @media screen and (min-width: getBreakPoint('lg')) {
            height: 50px;
            border: none;
            border-radius: 0;
            background-color:initial;
        }
        
        //* Від 992px
        @media screen and (min-width: getBreakPoint('xl')) {
            height: 60px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            height: 80px;
        }
        
        &__input {
            // width: 100%;
            height: 50px;
            padding-left: 41px;
            border: 1px solid getColor("text");
            border-radius: 5px;
            
            //? Стилі ПЛЕЙСХОЛДЕРА
            &::placeholder {
                // font-family: getFont("main-family");
                // font-weight: 400;
                font-size: 12px;
                // line-height: 1.5;
                // color: getColor("text");
                
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    font-size: 13px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    font-size: 12px;
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    font-size: 14px;
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    font-size: 16px;
                }
            }
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                width: 317px;
                height: 100%;
                padding-left: 58px;
                border: none;
                border-radius: 10px;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                width: 283px;
                padding-left: 24px;
                border: 1px solid getColor("text");
                border-radius: 5px;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                width: 323px;
                padding-left: 38px;
                border-radius: 10px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                width: 450px;
                padding-left: 33px;
            }
        }
        
        &__button {
            @include button(100%, 60px);
            // font-family: getFont("main-family");
            // font-weight: 500;
            font-size: 14px;
            // color: getColor("light");
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) {
                margin-right: -1px;
                @include button(193px, 60px);
                border-radius: 10px;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                margin-right: 0;
                @include button(145px);
                font-size: 13px;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                @include button(193px, 60px);
                border-radius: 10px;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                @include button(264px, 80px);
                font-size: 20px;
                border-radius: 10px;
            }
        }
    }
}