.footer {
    // height: 140px; //? для перевірки - sm
    padding-top: 26px;
    padding-bottom: 47px;
    background-color: #c9f2ff;
    // background-color: inherit;
    
    //! Медіа-запити
    //* Від 575px
    @media screen and (min-width: getBreakPoint('md')) {
        // height: 95px; //? для перевірки - md
        padding-top: 24px;
        padding-bottom: 26px;
    }
    
    //* Від 767px
    @media screen and (min-width: getBreakPoint('lg')) {
        // height: 78px; //? для перевірки - lg
        padding-top: 18px;
        padding-bottom: 15px;
    }
    
    //* Від 992px
    @media screen and (min-width: getBreakPoint('xl')) {
        // height: 91px; //? для перевірки - xl
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    //* Від 1600px
    @media screen and (min-width: getBreakPoint('xxl')) {
        // height: 149px; //? для перевірки - xxl
        padding-top: 31px;
        // padding-bottom: 58px;
        padding-bottom: 64px;
    }

    .container {
        // height: 100%; //? для перевірки
        text-align: center;
        // ! міксін outline
        // @include outline($type: dashed, $color: red);
        
        //! Медіа-запити
        //* Від 575px
        @media screen and (min-width: getBreakPoint('md')) {
            @include flex_JCsb-AIcen;
        }
    }

    .logo {
        //! Медіа-запити
        //todo До 574px
        @media screen and (max-width: calc(#{getBreakPoint('md')} - 1px)) {
            margin-bottom: 14px;
            font-size: 24px;
        }
        
        //* Від 1600px
        @media screen and (min-width: getBreakPoint('xxl')) {
            font-size: 36px;
        }
    }

    &-list {
        // width: 100%;
        display: flex;
        @include outline($type: dotted, $color: black);
        
        &__item {
            display: flex;
            // @include outline($type: dashed, $color: darkgrey);
            
            // &:nth-child(2)::before, //todo var.1
            // &:nth-child(2):after { //todo var.1
            //todo або
            &:not(:last-child):after { //todo var.2
                content: "•";
                height: 100%;
                margin: 0 2px;
                font-size: 11px;
                // background-color:getColor("background-image"); //? ТИМЧАСОВО
                
                //! Медіа-запити
                //* Від 575px
                @media screen and (min-width: getBreakPoint('md')) {
                    margin: 0 3px;
                    font-size: 12px;
                }
                
                //* Від 767px
                @media screen and (min-width: getBreakPoint('lg')) {
                    margin: 0 4px;
                    font-size: 13px;
                }
                
                //* Від 992px
                @media screen and (min-width: getBreakPoint('xl')) {
                    margin: 0 7px;
                    font-size: 16px;
                }
                
                //* Від 1600px
                @media screen and (min-width: getBreakPoint('xxl')) {
                    margin: 0 13px;
                    font-size: 24px;
                }
            }
        }
        
        &__link {
            display: flex;
            // font-family: getFont("main-family");
            font-weight: 500;
            font-size: 11px;
            line-height: 1.55;
            color: getColor("text");
            // @include outline($type: dashed, $color: orange);
            
            //! Медіа-запити
            //* Від 575px
            @media screen and (min-width: getBreakPoint('md')) { 
                font-size: 12px;
                line-height: 1.5;
            }
            
            //* Від 767px
            @media screen and (min-width: getBreakPoint('lg')) {
                font-weight: 400;
                font-size: 13px;
                line-height: 1.54;
            }
            
            //* Від 992px
            @media screen and (min-width: getBreakPoint('xl')) {
                font-size: 16px;
                line-height: 1.5;
            }
            
            //* Від 1600px
            @media screen and (min-width: getBreakPoint('xxl')) {
                font-size: 24px;
            }
        }
    }
}