<header class="header">
    <div class="container">
        <nav class="header__navigation">
            <!-- ? LOGO  - moved to partials/components -->
            <!-- <a class="logo" href="#">Brit<span class="logo__light">lex</span></a> -->
            <load="/partials/components/main-logo.html" />
            <!--? Список (прихований в sm, md, lg)-->
            <ul class="header-list">
                <li class="header-list__item">
                    <a class="header-list__link" href="./index.html">Home</a>
                </li>
                <li class="header-list__item">
                    <a class="header-list__link" href="#skills">Skills</a>
                </li>
                <li class="header-list__item">
                    <a class="header-list__link" href="#about">About Us</a>
                </li>
                <li class="header-list__item">
                    <a class="header-list__link" href="#pricing">Pricing</a>
                </li>
                <li class="header-list__item">
                    <a class="header-list__link" href="#contacts">Contacts</a>
                </li>
            </ul>
        </nav>
        <!--? Кнопка "Бургер-меню" -->
        <button class="button-menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <!--? Using inline SVG -->
            <!-- <svg 
                width="34" 
                height="19" 
                viewBox="0 0 34 19" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
            >
                <rect width="33.5294" height="3.35294" rx="1" fill="#39515E" />
                <rect y="7.82353" width="33.5294" height="3.35294" rx="1" fill="#39515E" />
                <rect y="15.6471" width="23.7159" height="3.35294" rx="1" fill="#39515E" />
            </svg> -->
            <!--? Using SVG-sprite -->
            <!--! sm -->
            <svg class="button-menu-toggle__sm" width="30" height="17">
                <use href="/images/01_icons-sprite.svg#button-burger-sm"></use>
            </svg>
            <!--! md -->
            <svg class="button-menu-toggle__md" width="34" height="19">
                <use href="/images/01_icons-sprite.svg#button-burger-md"></use>
            </svg>
            <!--! lg -->
            <svg class="button-menu-toggle__lg" width="43" height="24">
                <use href="/images/01_icons-sprite.svg#button-burger-lg"></use>
            </svg>
        </button>
        <!--? Кнопка "Let’s Talk" -->
        <button class="header__button">Let’s Talk</button>
    </div>
</header>