<header class="header">
    <div class="container">
        <!-- <p>01_HEADER</p> -->
        <nav class="navigation">
            <!-- ? Moved to partials/components -->
            <!-- <a class="logo" href="#">Brit<span class="logo__light">lex</span></a> -->
            <load ="/partials/components/main-logo.html" />
            <!-- <ul class="nav-list">
                <li class="nav-item"><a class="nav-link active-link" href="./webstudio.html">Студія</a></li>
                <li class="nav-item"><a class="nav-link" href="./portfolio.html">Портфоліо</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacts">Контакти</a></li>
            </ul> -->
        </nav>
    </div>
</header>