<section class="hero">
	<div class="container">
		<!--? Приклад відмінностей в якості між зображеннями різного типу -->
		<!-- <img src="./images/02_1_hero_background-sm.png" alt="woman" /> -->
		<!-- <img src="./images/02_1_hero_background-sm.svg" alt="woman" /> -->
		
		<!--! .сontents-container не використовується у _02-4_hero_w-o-сontents-container--all.scss -->
		<div class="сontents-container"> 
			<h1 class="hero__title hero__title--sm-md">
				<!--todo ❌var.1 - НЕ ПРАЦЮЄ -->  
				<!-- Learn Any Foreign Language -->
				<!--todo ❌var.2 - НЕ ПРАЦЮЄ -->
				<!-- <span class="hero__title-first">Learn Any</span> Foreign Language -->
				<!--todo ✅var.3 - ПРАЦЮЄ -->
				<span>Learn Any&nbsp;</span>
				<span>Foreign Language</span>
			</h1>
			<h1 class="hero__title hero__title--lg-xl-xxl">
				<span>Learn</span>
				<span>Any Foreign</span>
				<span>Language</span>
			</h1>
			<p class="hero__text">
				With our teachers who write a program
				for each student, you will be able to make
				your first sketch after the first lesson.
			</p>
			<button 
				class="hero__button" 
				type="button" 
				data-modal-open=""
			>
				Get started
			</button>
		</div>
		<!--! Бєк-дроп з модальним вікном (приклад)-->
		<!-- <div class="backdrop is-hidden" data-modal>
			<div class="modal">
				<button class="btn" data-modal-close>Закрити</button>
				<br />
				<br />
				<p class="modal-text">Тут буде ФОРМА:</p>
				<br />
				<form>
					<label for="form-username">Ім’я</label>
					<input type="text" name="user-name" id="form-username"/>
					<br />
					<br />
					<label for="form-useremail">Email</label>
					<input type="email" name="user-email" id="form-useremail"/>
					<br />
					<br />
					<br />
					<button type="submit">Підтвердити</button>
				</form>
			</div>
		</div> -->
	</div>
</section>
