<section class="hero">
	<div class="container">
		<!--? Приклад відмінностей в якості між зображеннями різного типу -->
		<!-- <img src="./images/02_1_hero_background-sm.png" alt="woman" /> -->
		<!-- <img src="./images/02_1_hero_background-sm.svg" alt="woman" /> -->
		<div class="сontents-container">
			<h1 class="hero__title">
					Learn Any
					<br>
					Foreign Language
			</h1>
			<p class="hero__text">
				With our teachers who write a program
				for each student, you will be able to make
				your first sketch after the first lesson.
			</p>
			<button 
				class="hero__button" 
				type="button" 
				data-modal-open=""
			>
				Get started
			</button>
		</div>
		<!--! Бєк-дроп з модальним вікном (приклад)-->
		<!-- <div class="backdrop is-hidden" data-modal>
			<div class="modal">
				<button class="btn" data-modal-close>Закрити</button>
				<br />
				<br />
				<p class="modal-text">Тут буде ФОРМА:</p>
				<br />
				<form>
					<label for="form-username">Ім’я</label>
					<input type="text" name="user-name" id="form-username"/>
					<br />
					<br />
					<label for="form-useremail">Email</label>
					<input type="email" name="user-email" id="form-useremail"/>
					<br />
					<br />
					<br />
					<button type="submit">Підтвердити</button>
				</form>
			</div>
		</div> -->
	</div>
</section>
