<section class="skills" id="skills">
    <div class="container">
        <h2 class="skills__title">Skills</h2>
        <ul class="skills-list">
            <li class="skills-list__item">
                <h3 class="skills-list__title">Speaking</h3>
                <p class="skills-list__text">
                    Improve your English skills and <br>
                    confidence. Live classes and interactive 
                    lessons online. 20% extra free for <br>
                    a limited time only
                    <br>
                    <br>
                    Learn English online and improve your <br>
                    skills through our high-quality courses <br>
                    and resources – all designed for adult 
                    language learners.
                </p>
                <button 
                    class="skills-list__button" 
                    type="button" 
                >
                    Learn more
                </button>
            </li>
            <li class="skills-list__item">
                <h3 class="skills-list__title">Writing</h3>
                <p class="skills-list__text">
                    One of the most important and extensive 
                    areas of natural science, the science that 
                    studies substances, also their composition 
                </p>
                <button 
                    class="skills-list__button" 
                    type="button" 
                >
                    Learn more
                </button>
            </li>
            <li class="skills-list__item">
                <h3 class="skills-list__title">Reading</h3>
                <p class="skills-list__text">
                    Perception and response actions 
                    of the user resulting from the use and
                    or up coming use of the product, <br>
                    system or service
                </p>
                <button 
                    class="skills-list__button" 
                    type="button" 
                >
                    Learn more
                </button>
            </li>
            <li class="skills-list__item">
                <div class="skills-list__сontents-container">
                    <h3 class="skills-list__title">Listening</h3>
                    <p class="skills-list__text">
                        Here you can find activities to practise 
                        your listening skills. Listening will help 
                        you to improve your understanding 
                    </p>
                    <button 
                        class="skills-list__button" 
                        type="button" 
                    >
                        Learn more
                    </button>
                </div>
                
            </li>
        </ul>
    </div>
</section>
