<section class="about" id="about">
    <div class="container">
        <div class="about__сontents-container">
            <h2 class="about__title">About Us</h2>
            <p class="about__text">
                The model offers a framework for discussing
                problems related<span class="about__break-xl"><br></span> to the user's experience, as
                well as possible ways and means<span class="about__break-xl"><br></span> of solving
                them. Application development begins at<span class="about__break-sm"><br></span>
                the top level (strategy), where the future
                software product is described quite
                abstractly from the point of view of the
                expectations of both users and the customer.
            </p>
            <ul class="about-list">
                <li class="about-list__item">
                    <p class="about-list__quantity">800</p>
                    <p class="about-list__description">Pupils</p>
                </li>
                <li class="about-list__item">
                    <p class="about-list__quantity">18</p>
                    <p class="about-list__description">Teachers</p>
                </li>
                <li class="about-list__item">
                    <p class="about-list__quantity">6</p>
                    <p class="about-list__description">Foreign languages</p>
                </li>
            </ul>
        </div>
    </div>
</section>
