<section class="about">
    <div class="container">
        <!-- <p>04_ABOUT</p> -->
        <h2 class="about__title">
            About Us
        </h2>
        <p class="about__text">
            The model offers a framework for discussing 
            problems related to the user's experience, as <br>
            well as possible ways and means of solving 
            them. Application development begins at <br>
            the top level (strategy), where the future
            software product is described quite <br>
            abstractly from the point of view of the
            expectations of both users and the customer.
        </p>
        <ul class="about-list">
            <li class="about-list__item">
                <p class="about-list__quantity">800</p>
                <p class="about-list__description">Pupils</p>
            </li>
            <li class="about-list__item">
                <p class="about-list__quantity">18</p>
                <p class="about-list__description">Teachers</p>
            </li>
            <li class="about-list__item">
                <p class="about-list__quantity">6</p>
                <p class="about-list__description">Foreign languages</p>
            </li>
        </ul>
    </div>
</section>
