<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">
            Pricing
        </h2>
        <ul class="pricing-list">
            <li class="pricing-list__item">
                <h3 class="pricing-list__title">Self-study online course</h3>
                <p class="pricing-list__text">
                    Start learning English online in live classes
                    with qualified EC teachers and students 
                    from all over the world.
                </p>
                <p class="pricing-list__price">
                    £5.99
                    <span>per month</span>
                </p>
            </li>
        </ul>
    </div>
</section>
