<section class="contacts" id="contacts">
    <div class="container">
        <div class="contacts__сontents-container">
            <h2 class="contacts__title">Contact Us</h2>
            <!--todo ✅var.1 - ПРАЦЮЄ в sm без white-space: pre-line -->
            <!-- <p class="contacts__text">
                Discover your current English level by
                taking our free online English test. 
                <br class="contacts__break-sm">
                Sign up to our newsletter for learning tips
                and free resource
            </p> -->
            <!--todo ✅var.2 - ПРАЦЮЄ в sm з white-space: pre-line -->
            <p class="contacts__text">Discover your current English level by
                taking our free online English test. 
                Sign up to our newsletter for learning tips
                and free resource
            </p>
            <form class="contacts-form">
                <input
                    class="contacts-form__input" 
                    type="text"
                    placeholder="Enter Your E-mail"
                >
                <button 
                    class="contacts-form__button" 
                    type="submit"
                >
                    Subscribe
                </button>
            </form>
        </div>
    </div>
</section>
